body {
  background-color: #7f9fc0;
  font-family: Didot;
  color: black;
}
.card {
  border: none;
  overflow: hidden;
}

.prod-name {
  font-size: 50px !important;
}

.prod-description {
  color: black;
  font-size: 25px !important;
}

.thumbnail_images ul {
  list-style: none;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.thumbnail_images ul li {
  margin: 5px;
  padding: 10px;
  border: 2px solid #eee;
  cursor: pointer;
  transition: all 0.5s;
}
.thumbnail_images ul li:hover {
  border: 2px solid #000;
}
.main_image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.content p {
  font-size: 12px;
}

.right-side {
  position: relative;
}

.buttons .btn {
  height: 50px;
  width: 150px;
  border-radius: 0px !important;
  font-size: large;
}

.container.mt-5.mb-5.productdetailpage {
  margin: 0 auto !important;
  height: 100%;
}
